<div class="{{NS}}--form">
  <div class="{{NS}}--heading">Complete the following to be in with a chance to win a $10,000!</div>
  <br>
  <div>
    <label>How many components are currently in the design system?</label>
    {{#ui-radio-button-list selection="5" as |radioButtonList|}}
      {{radioButtonList.radioButton value="5" label="5"}}
      {{radioButtonList.radioButton value="24" label="24"}}
      {{radioButtonList.radioButton value="19" label="19"}}
    {{/ui-radio-button-list}}
  </div>
  <br>
  <div>
    <UiTextInput @name="name" @label="Name" @value={{name}} />
  </div>
  <br>
  <div>
    <UiTextInput @name="email" @label="Email" @type="email" />
  </div>
  <br>
  <div>
    <label>
      Would you like to be contacted with promotional material?
      {{ui-checkbox label="Yes" checked=true}}
    </label>
  </div>
  <br>

  <UiButton @click={{action "showAlert"}}>Enter!</UiButton>
  <br>
  <br>
  <br>
  {{#if isEntered}}
    {{#ui-notification
        style="success"
        close=true
        title="Success!"
        white=false
        size="sm"}}
      Entered {{name}}!
    {{/ui-notification}}
  {{/if}}
</div>

